<html>
  <head>
    <title><%= title %></title>
    <link href='css/groovy.css' type='text/css' />
    <script type='text/javascript' src='js/crazy.js'></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

